.WrapError {
	display: flex;
	flex-direction: column;
	width: 370px;
	gap: 100px;
	background-color: transparent;
}

.Error {
	margin-left: 11px;
	text-overflow: clip;
	height: 20px;
	font-size: smaller;
	color: red;
}
