.chat {
	color: black;
	text-align: left;

	width: 300px;
	height: 400px;

	float: right;
}

.chat-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1100;
}

.chat-header {
	background-color: #f0f0f0;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: crosshair;
}

.chat-invis {
	display: none;
}