.EntryError {
	display: flex;
	flex-direction: column;
	width: 370px;
	gap: 100px;
	/* margin: 10px 30px;
	margin-bottom: 30px;
	padding-bottom: 30px; */
	/* transform: rotate(90deg); */
	background-color: transparent;
}

.Error {
	margin-left: 11px;
	text-overflow: clip;
	height: 20px;
	font-size: smaller;
	color: red;
}

.Text_Entry_Div {
	position: relative;
	display: flex;
	align-items: center;
	border: 3px solid rgb(105, 105, 105);
	border-radius: 8px;
	background-color: #ccc;
	box-sizing: border-box;
	width: 300px;
	height: 35px;
	overflow: hidden;
}

.Text_Entry {
	/* flex: 1;
	width:fit-content; */
	width:100%;
	box-shadow: none;
	border: none;
	outline: none;
	background-color:transparent;
	margin-left: 7px;
	margin-right: 7px;
}

.Text_Entry::placeholder {
	color: gray;
}

.Text_Entry:focus{
	outline: none;
}

.EMail_Entry {
	margin-right: 28px;
	width: calc(100% - 24px);
}

.spanEMail {
	position: absolute;
	right: 5px;
	width: 24px;
    text-align: center;
}

.EMail_Entry + .spanEMail:after{
	padding-right: 5px;
	font-size: 16px;
}

.EMail_Entry:valid + .spanEMail:after{
	font-size: 20px;
	content: "✓";
	color: green;
}

.EMail_Entry:invalid + .spanEMail:after{
	content: "✖";
	color: rgb(160, 15, 15);
}

.Button_Div {
	width: 90%;
	margin: auto;
	text-align: center;
	font-weight: 700;
	height: 32px;
	margin: 10px;
}

.Button {
	width: 100%;
	border: 3px solid rgb(105, 105, 105);
	border-radius: 8px;
	background-color: white;
	height: 100%;
}

.Button:hover {
	background-color: rgb(192, 70, 70);
}

.Register {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	gap: 15px;
	width: fit-content;
	height: fit-content;
	background-color: #62d21c;
	padding: 20px 30px;
}
